@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Amazon envíos</h1>
    <p>Consigue y conoce descuentos con nuestras <a href="https://www.amazon.com/gift-cards/b/?ie=UTF8&node=2238192011&ref_=nav_cs_gift_cards"> Giftcards</a>.</p>
</div>
