
@{
    ViewData["Title"] = "Agregar";
}

<h1>Agregar</h1>


    <table>

        <form asp-controller="Envio" asp-action="Agregar" method="post">
            <div>
                <label> Numero de paquete </label> 
                <input type="text" /> 
            </div>

            <div>
               <label> Peso </label> 
                <input /> 
            </div>

            <div>
                <label>Remitente </label>
                <input /> 
            </div>

            <div>
                <label>Destinatario </label>
                <input /> 
            </div>

            <div>
                <label>Dirección</label>
                <input /> 
            </div>
        </form>
    </table>
    <!--<table>
        <tr>
            <td>Numero de paquete</td>

            <input />

            <br />

            <td>Peso</td>
            <input />

            <br />

            <td>Remitente</td>
            <input />

            <br />

            <td>Destinatario</td>
            <input />

            <br />

            <td>Dirección</td>
            <input />

        </tr>
    </table> -->


